// Placeholder to allow overriding predefined variables.
$base-font-size:    14px;
$base-font-family: Monaco;
$reading-font-family: Monaco;
$headline-font-family: Monaco;
$code-font-family:  Monaco;
$handwriting-font-family: Monaco;
